# Análisis de precios de apartamentos de Bogotá

# Importacion de librerías y funciones auxiliares

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/jmriv/Documents/Ciencia de Datos - Repos/Tutorial regresión/apartamentos.csv')

In [8]:
def ver_datos(data, col_name, categorica=False):
    print(data[col_name].describe())
    print('--'*10)
    print(f'Número de datos nulos: {data[col_name].isnull().sum()}')
    if categorica:
        print('--'*10)
        print(data[col_name].value_counts(dropna=False))

# Caracterización de los datos

In [3]:
df.shape

(43013, 46)

In [5]:
df.sample(2)

,_id,codigo,tipo_propiedad,tipo_operacion,precio_venta,area,habitaciones,banos,administracion,parqueaderos,...,vigilancia,coords_modified,localidad,barrio,estacion_tm_cercana,distancia_estacion_tm_m,is_cerca_estacion_tm,parque_cercano,distancia_parque_m,is_cerca_parque
7645,66d86ca2ceda690e8550a53d,346-M5028748,APARTAMENTO,VENTA,9.950000e+09,462.0,4.0,4.0,2500000.0,4.0,...,1.0,False,CHAPINERO,S.C. BELLAVISTA,Flores – Areandina,1582.63,0,PARQUE ZONAL GUSTAVO URIBE BOTERO,423.05,1
35607,66d86e1bceda690e85511277,10159-M5128305,APARTAMENTO,VENTA,2.900000e+08,71.0,3.0,2.0,270000.0,1.0,...,0.0,False,ENGATIVA,S.C. EL GACO,Portal 80,3212.97,0,PARQUE METROPOLITANO PLANTA DE TRATAMIENTO SAL...,1256.60,0

In [ ]:
# Información básica del dataset
print('Dimensiones del dataset (filas, columnas):', df.shape)
print('\nTipos de datos:')
print(df.dtypes)
print('\nEstadísticas descriptivas:')
print(df.describe())

Dimensiones del dataset (filas, columnas): (43013, 46)

Tipos de datos:
_id                         object
codigo                      object
tipo_propiedad              object
tipo_operacion              object
precio_venta               float64
area                       float64
habitaciones               float64
banos                      float64
administracion             float64
parqueaderos               float64
sector                      object
estrato                    float64
antiguedad                  object
latitud                    float64
longitud                   float64
direccion                   object
descripcion                 object
website                     object
last_view                   object
datetime                    object
url                         object
timeline                    object
estado                      object
compañia                    object
precio_arriendo            float64
jacuzzi                    float64
piso                       float64
closets                    float64
chimenea                   float64
permite_mascotas           float64
gimnasio                   float64
ascensor                   float64
conjunto_cerrado           float64
piscina                    float64
salon_comunal              float64
terraza                    float64
vigilancia                 float64
coords_modified               bool
localidad                   object
barrio                      object
estacion_tm_cercana         object
distancia_estacion_tm_m    float64
is_cerca_estacion_tm         int64
parque_cercano              object
distancia_parque_m         float64
is_cerca_parque              int64
dtype: object

Valores nulos por columna:
_id                            0
codigo                         0
tipo_propiedad                 0
tipo_operacion                 0
precio_venta               15429
area                           0
habitaciones                   1
banos                          1
administracion              7925
parqueaderos                   1
sector                      1641
estrato                        1
antiguedad                    10
latitud                        0
longitud                       0
direccion                  42219
descripcion                    0
website                        2
last_view                      2
datetime                       2
url                        42219
timeline                   13586
estado                       796
compañia                    4530
precio_arriendo            27184
jacuzzi                        2
piso                       43013
closets                    43013
chimenea                       2
permite_mascotas               2
gimnasio                       2
ascensor                       2
conjunto_cerrado               2
piscina                        2
salon_comunal                  2
terraza                        2
vigilancia                     2
coords_modified                0
localidad                      0
barrio                       193
estacion_tm_cercana            0
distancia_estacion_tm_m        0
is_cerca_estacion_tm           0
parque_cercano                 0
distancia_parque_m             0
is_cerca_parque                0
dtype: int64

Estadísticas descriptivas:
       precio_venta          area  habitaciones         banos  administracion  \
count  2.758400e+04  4.301300e+04  43012.000000  43012.000000    3.508800e+04
mean   2.364794e+09  1.800341e+02      2.615340      2.701339    4.059551e+06
std    5.574198e+10  9.163002e+03      0.850046      1.196659    6.781642e+07
min    1.000000e+06  0.000000e+00      1.000000      0.000000    1.000000e+00
25%    4.029000e+08  6.300000e+01      2.000000      2.000000    3.490000e+05
50%    7.000000e+08  1.000000e+02      3.000000      3.000000    6.500000e+05
75%    1.330000e+09  1.740000e+02      3.000000      4.000000    1.200000e+06
max    4.250000e+12  1.900000e+06      7.000000      6.000000    3.500000e+09

       parqueaderos       estrato       latitud      longitud  \
count  43012.000000  43012.000000  43013.000000  43013.000000
mean       1.662862      4.844648      4.686099    -74.062808
std        1.114685      1.236190      0.038297      0.033544
min       -2.000000      0.000000      4.468629    -74.213645
25%        1.000000      4.000000      4.663322    -74.068665
50%        2.000000      5.000000      4.688729    -74.052000
75%        2.000000      6.000000      4.711980    -74.043491
max       30.000000      6.000000      4.820822    -74.014000

       precio_arriendo  ...      ascensor  conjunto_cerrado       piscina  \
count     1.582900e+04  ...  43011.000000      43011.000000  43011.000000
mean      1.456933e+07  ...      0.628118          0.390482      0.090419
std       2.874582e+08  ...      0.483313          0.487864      0.286784
min       1.000000e+05  ...      0.000000          0.000000      0.000000
25%       1.800000e+06  ...      0.000000          0.000000      0.000000
50%       3.500000e+06  ...      1.000000          0.000000      0.000000
75%       7.300000e+06  ...      1.000000          1.000000      0.000000
max       1.800000e+10  ...      1.000000          1.000000      1.000000

       salon_comunal       terraza    vigilancia  distancia_estacion_tm_m  \
count        43011.0  43011.000000  43011.000000             43013.000000
mean             0.0      0.001023      0.587385              1270.515946
std              0.0      0.031968      0.492310               841.814012
min              0.0      0.000000      0.000000                 4.940000
25%              0.0      0.000000      0.000000               578.380000
50%              0.0      0.000000      1.000000              1175.520000
75%              0.0      0.000000      1.000000              1707.920000
max              0.0      1.000000      1.000000              7095.660000

       is_cerca_estacion_tm  distancia_parque_m  is_cerca_parque
count          43013.000000        43013.000000     43013.000000
mean               0.209495          808.884766         0.275033
std                0.406953          447.796211         0.446536
min                0.000000            0.220000         0.000000
25%                0.000000          470.140000         0.000000
50%                0.000000          750.140000         0.000000
75%                0.000000         1087.730000         1.000000
max                1.000000         6276.510000         1.000000

[8 rows x 26 columns]

In [7]:
df['tipo_operacion'].value_counts()

tipo_operacion
VENTA               27270
ARRIENDO            15515
VENTA Y ARRIENDO      228
Name: count, dtype: int64

## Completitud
Se eliminarán algunas variables teniendo en cuenta el número de nulos que presentan

In [13]:
print('\nValores nulos por columna:')
print(df.isnull().sum().sort_values(ascending=False))

Valores nulos por columna:
closets                    43013
piso                       43013
url                        42219
direccion                  42219
precio_arriendo            27184
precio_venta               15429
timeline                   13586
administracion              7925
compañia                    4530
sector                      1641
estado                       796
barrio                       193
antiguedad                    10
website                        2
salon_comunal                  2
terraza                        2
conjunto_cerrado               2
ascensor                       2
vigilancia                     2
piscina                        2
gimnasio                       2
datetime                       2
chimenea                       2
permite_mascotas               2
last_view                      2
jacuzzi                        2
parqueaderos                   1
habitaciones                   1
banos                          1
estrato                        1
latitud                        0
tipo_propiedad                 0
tipo_operacion                 0
_id                            0
codigo                         0
area                           0
descripcion                    0
longitud                       0
coords_modified                0
localidad                      0
estacion_tm_cercana            0
distancia_estacion_tm_m        0
is_cerca_estacion_tm           0
parque_cercano                 0
distancia_parque_m             0
is_cerca_parque                0
dtype: int64

Se deciden eliminar las variables:
- Closets
- Piso
- URL
- Dirección

In [ ]:
df.drop(columns=['closets', 'piso','url','direccion'], inplace=True)

## Relevancia
Se decide seleccionar un subconjunto de los datos para trabajar con ellos

In [24]:
selected_cols = [
    'precio_arriendo',
    'precio_venta',
    'salon_comunal',
    'terraza',
    'vigilancia',
    'piscina',
    'ascensor',
    'conjunto_cerrado',
    'gimnasio',
    'jacuzzi',
    'chimenea',
    'permite_mascotas',
    'estrato',
    'habitaciones',
    'banos',
    'parqueaderos',
    'tipo_operacion',
    'tipo_propiedad',
    'area',
    'localidad',
    'distancia_estacion_tm_m',
    'is_cerca_estacion_tm',
    'distancia_parque_m',
    'is_cerca_parque'
    ]

In [25]:
df=df[selected_cols]

In [18]:
print(df.isnull().sum().sort_values(ascending=False))

precio_arriendo            27184
precio_venta               15429
timeline                   13586
administracion              7925
compañia                    4530
sector                      1641
estado                       796
barrio                       193
antiguedad                    10
website                        2
salon_comunal                  2
terraza                        2
vigilancia                     2
piscina                        2
ascensor                       2
conjunto_cerrado               2
gimnasio                       2
last_view                      2
datetime                       2
jacuzzi                        2
chimenea                       2
permite_mascotas               2
estrato                        1
habitaciones                   1
banos                          1
parqueaderos                   1
tipo_operacion                 0
tipo_propiedad                 0
area                           0
codigo                         0
_id                            0
descripcion                    0
longitud                       0
latitud                        0
coords_modified                0
localidad                      0
estacion_tm_cercana            0
distancia_estacion_tm_m        0
is_cerca_estacion_tm           0
parque_cercano                 0
distancia_parque_m             0
is_cerca_parque                0
dtype: int64

In [ ]:
df.drop(columns=['closets', 'piso','url','direccion'], inplace=True)

In [19]:
ver_datos(df, 'timeline', True)

count     29427
unique     2047
top          []
freq      27381
Name: timeline, dtype: object
--------------------
Número de datos nulos: 13586
--------------------
timeline
[]                                                                                                                                                              27381
NaN                                                                                                                                                             13586
[{'fecha': {'$date': '2024-08-09T04:04:00.755Z'}, 'precio_arriendo': 1400000}, {'fecha': {'$date': '2024-08-14T01:21:15.179Z'}, 'precio_arriendo': 1450000}]        1
[{'fecha': {'$date': '2024-08-09T04:08:04.288Z'}, 'precio_arriendo': 1400000}, {'fecha': {'$date': '2024-08-14T00:19:49.669Z'}, 'precio_arriendo': 1200000}]        1
[{'fecha': {'$date': '2024-08-09T04:10:15.704Z'}, 'precio_arriendo': 3360000}, {'fecha': {'$date': '2024-08-14T01:12:42.803Z'}, 'precio_arriendo': 2997000}]        1
                                                                                                                                                                ...
[{'fecha': {'$date': '2024-07-03T23:27:46.530Z'}, 'precio_venta': 130000000}, {'fecha': {'$date': '2024-08-13T10:34:22.754Z'}, 'precio_venta': 125254500}]          1
[{'fecha': {'$date': '2024-07-03T23:27:47.687Z'}, 'precio_venta': 153642667}, {'fecha': {'$date': '2024-08-13T10:34:39.006Z'}, 'precio_venta': 147430500}]          1
[{'fecha': {'$date': '2024-07-03T23:27:48.342Z'}, 'precio_venta': 151736432}, {'fecha': {'$date': '2024-08-13T10:34:38.527Z'}, 'precio_venta': 145603000}]          1
[{'fecha': {'$date': '2024-07-03T23:27:49.902Z'}, 'precio_venta': 378255000}, {'fecha': {'$date': '2024-08-31T20:50:02.648Z'}, 'precio_venta': 365000000}]          1
[{'fecha': {'$date': '2024-07-03T23:27:50.558Z'}, 'precio_venta': 323920000}, {'fecha': {'$date': '2024-07-10T18:19:20.769Z'}, 'precio_venta': 313400000}]          1
Name: count, Length: 2048, dtype: int64

In [15]:
df.columns

Index(['_id', 'codigo', 'tipo_propiedad', 'tipo_operacion', 'precio_venta',
       'area', 'habitaciones', 'banos', 'administracion', 'parqueaderos',
       'sector', 'estrato', 'antiguedad', 'latitud', 'longitud', 'descripcion',
       'website', 'last_view', 'datetime', 'timeline', 'estado', 'compañia',
       'precio_arriendo', 'jacuzzi', 'chimenea', 'permite_mascotas',
       'gimnasio', 'ascensor', 'conjunto_cerrado', 'piscina', 'salon_comunal',
       'terraza', 'vigilancia', 'coords_modified', 'localidad', 'barrio',
       'estacion_tm_cercana', 'distancia_estacion_tm_m',
       'is_cerca_estacion_tm', 'parque_cercano', 'distancia_parque_m',
       'is_cerca_parque'],
      dtype='object')